Q1) What are data structures, and why are they important?
Data structures are organized ways to store, manage, and retrieve data efficiently. They are critical in computer science because they enable developers to perform operations on data efficiently, which is essential for developing fast and scalable applications.
---
Q2) Explain the difference between mutable and immutable data types with examples?
Can be changed after their creation. Examples include lists, dictionaries, and sets in Python. Cannot be changed once created. Examples include strings, tuples, and integers in Python.
---
Q3) What are the main differences between lists and tuples in Python?
Lists mutable and tuples immutable.
---
Q4) Describe how dictionaries store data
Dictionaries store data in key-value pairs. The keys must be unique and immutable, while the values can be of any type. Internally, dictionaries use a hash table to map keys to values, allowing for efficient data retrieval.
---
Q5) Why might you use a set instead of a list in Python?
Sets are collections of unique elements, which means they automatically handle duplicates. They provide faster membership tests compared to lists due to their underlying hash table implementation.
---
Q6) Use a set when you need to store unique items and perform fast membership checks.
Strings: Immutable sequences of characters.
Syntax: "hello"
Lists:Mutable sequences of elements.
Syntax: [1, 2, 3]
A string cannot be modified in place, while a list can be.
---
Q7) What is a string in Python, and how is it different from a list?
Strings: Immutable sequences of characters.
Syntax: "hello"
Lists:Mutable sequences of elements.
Syntax: [1, 2, 3]
A string cannot be modified in place, while a list can be.
How do tuples ensure data integrity in Python4
What is a hash table, and how does it relate to dictionaries in Python4
---
Q8) Can lists contain different data types in Python
yes
---
Q9) Explain why strings are immutable in Python
they cannot be changed with indexing
---
Q10) What advantages do dictionaries offer over lists for certain tasks?
dictionaries provide better accessibility becuse data is stored in key value pair.
---
Q11) Describe a scenario where using a tuple would be preferable over a list
Using a tuple is preferable when you need a collection of items that should not change, such as the coordinates of a point in a 2D space (e.g., (x, y))
---
Q12) How do sets handle duplicate values in Python
Sets automatically discard duplicate values, ensuring all elements are unique.---
Q13)How does the “in” keyword work differently for lists and dictionaries
For lists, the “in” keyword checks for the presence of a value; for dictionaries, it checks for the presence of a key.
---
Q14)Can you modify the elements of a tuple? Explain why or why not
no, tuple is immutable
---
Q15)What is a nested dictionary, and give an example of its use case
A nested dictionary is a dictionary within another dictionary.
directory = {
    "folder1": {"file1.txt": "content1", "file2.txt": "content2"},
    "folder2": {"file3.txt": "content3"}
}
---
Q16)Describe the time complexity of accessing elements in a dictionary
The average time complexity of accessing elements in a dictionary is O(1) due to the underlying hash table implementation.

Q17)In what situations are lists preferred over dictionaries
Lists are preferred over dictionaries when you need to maintain the order of elements or access elements by their index.

Q18)Why are dictionaries considered unordered, and how does that affect data retrieval
Dictionaries are considered unordered because they do not maintain the order of items based on insertion; this affects data retrieval by making it impossible to rely on the order of key-value pairs.

Q19)Explain the difference between a list and a dictionary in terms of data retrieval
In a list, data is retrieved by index, while in a dictionary, data is retrieved by key, allowing for faster lookups (O(1) on average) compared to lists (O(n) for searching).

In [1]:
# Q1) Write a code to create a string with your name and print it.
name = "Your Name"
print(name)

Your Name

In [2]:
# Q2) Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [3]:
# Q3) Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
print(text[:3])

Pyt

In [4]:
# Q4) Write a code to convert the string "hello" to uppercase.
text = "hello"
print(text.upper())

HELLO

In [5]:
# Q5) Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [1]:
# Q6) Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [2]:
# Q7) Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [3]:
# Q8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [4]:
# Q9) Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [5]:
# Q10) Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [6]:
# Q11) Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [7]:
# Q12) Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

In [8]:
# Q13) Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

In [9]:
# Q14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [10]:
# Q15) Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
my_tuple = ('apple', 'orange', 'banana')
print("banana" in my_tuple)

True

In [ ]:
# Q16) Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}
print(my_set)

In [ ]:
# Q17) Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

In [11]:
# Q18) Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [17]:
# Q19) Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

In [16]:
# Q20) Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

In [15]:
# Q21) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [14]:
# Q22) Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
my_tuple = ('apple', 'orange', 'banana')
print("banana" in my_tuple)

True

In [13]:
# Q23) Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [12]:
# Q24) Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}